<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/standardImports :: headerfiles">
</head>
<body>
<div th:insert="layout/header :: header">Menu</div>
<div class="container">
    <th:block th:insert="admin/cars :: manage_header">Menu</th:block>
    <div class="alert alert-success" th:if="${addedCar}">
        Dodano nowy samochód.
    </div>
    <th:block th:if="${(cars != null) && (!cars.isEmpty())}">
        <h3 class="display-4">Lista samochodów</h3>
        <table class="table" id="cars-table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Marka</th>
                <th scope="col">Model</th>
                <th scope="col">Data dodania</th>
                <th scope="col">Zaktualizowano</th>
                <th scope="col">Edytuj</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${cars}">
                <th scope="row" th:text="${car.id}">Car ID</th>
                <td th:text="${car.brand.name}">Car brand</td>
                <td th:text="${car.model}">Car model</td>
                <td th:text="${car.createdDate}">Created time</td>
                <td th:text="${car.updatedDate}">Updated time</td>
                <td>
                    <button class="btn btn-sm btn-danger" th:if="${car.enabled}"
                            th:onclick="'disableCar(\'' + ${car.id} + '\');'">
                        Zablokuj samochód
                    </button>
                    <button class="btn btn-sm btn-success" th:if="${!car.enabled}"
                            th:onclick="'enableCar(\'' + ${car.id} + '\');'">
                        Odblokuj samochód
                    </button>
                    <a class="btn btn-sm btn-info" th:href="@{/admin/cars/{id}(id=${car.id})}">
                        Wynajęcia
                    </a>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </th:block>
    <th:block th:if="${(cars == null) || (cars.isEmpty())}">
        <p class="lead">Nie znaleziono żadnych samochodów</p>
        <a th:href="@{/admin/cars/new}">Dodaj nowy</a>.
    </th:block>
</div>
<!-- Modal -->
<div class="modal fade" id="confirm" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Czy potwierdzasz?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Czy potwierdzasz operację?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Nie</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="currentFunction()">Tak
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(
        function () {
            $('#allCars').toggleClass('active');
            $('#cars-table').DataTable();
        }
    );

    var currentObject = null;

    var currentFunction = function () {

    };


    function disableCar(carId) {
        currentObject = carId;
        currentFunction = function () {
            $.post("/admin/cars/disable",
                {
                    id: carId
                },
                function (data, status) {
                    if (status === 'success') {
                        alert('Zablokowano samochód');
                        window.location = window.location;
                    }
                });
        };
        $('#confirm').modal();
    }

    function enableCar(carId) {
        currentObject = carId;
        currentFunction = function () {
            $.post("/admin/cars/enable",
                {
                    id: carId
                },
                function (data, status) {
                   if (status === 'success') {
                       alert('Odblokowano samochód');
                       window.location = window.location;
                   }
                });
        };
        $('#confirm').modal();
    }
</script>
</body>
</html>
