<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/standardImports :: headerfiles">
</head>
<body>
<div th:insert="layout/header :: header">Menu</div>
<div class="container">
    <th:block th:if="${(requests != null) && (!requests.isEmpty())}">
        <h3 class="display-4">Lista prośb o wypozyczenie</h3>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Użytkownik</th>
                <th scope="col">Samochód</th>
                <th scope="col">Data początkowa</th>
                <th scope="col">Data końca</th>
                <th scope="col">Koszt</th>
                <th scope="col">Edytuj</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="req : ${requests}">
                <th scope="row" th:text="${req.id}">Request Id</th>
                <td>
                    <a th:href="@{/admin/user/{id}(id=${req.systemUser.id})}">
                        <span th:text="${req.systemUser.login}"></span>
                    </a>
                </td>
                <td>
                    <a class="btn btn-sm btn-info" th:href="@{/admin/cars/{id}(id=${req.car.id})}">
                        <span th:text="${req.car.brand.name}"></span> <span th:text="${req.car.model}"></span>
                    </a>
                </td>
                <td th:text="${req.startDate}">Start date</td>
                <td th:text="${req.endDate}">End date</td>
                <td th:text="${req.totalCost}">Total cost</td>
                <td>
                    <button class="btn btn-sm btn-danger"
                            th:onclick="'reject(\'' + ${req.id} + '\');'">
                        Odrzuć
                    </button>
                    <button class="btn btn-sm btn-success"
                            th:onclick="'accept(\'' + ${req.id} + '\');'">
                        Akceptuj
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>
    <th:block th:if="${(requests == null) || (requests.isEmpty())}">
        <p class="lead">Nie znaleziono żadnych prośb</p>
    </th:block>
</div>
<!-- Modal -->
<div class="modal fade" id="confirm" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Czy potwierdzasz?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Czy potwierdzasz operację?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Nie</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="currentFunction()">Tak
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(
        function () {
            $('#allCars').toggleClass('active');
        }
    );

    var currentObject = null;

    var currentFunction = function () {

    };


    function reject(reqId) {
        currentObject = reqId;
        currentFunction = function () {
            $.post("/admin/rents/reject",
                {
                    id: reqId
                },
                function (data, status) {
                    if (status === 'success') {
                        alert('Odrzucono zgłoszenie ' + reqId);
                        window.location = window.location;
                    }
                });
        };
        $('#confirm').modal();
    }

    function accept(reqId) {
        currentObject = reqId;
        currentFunction = function () {
            $.post("/admin/rents/accept",
                {
                    id: reqId
                },
                function (data, status) {
                   if (status === 'success') {
                       alert('Akceptowano zgłoszenie ' + reqId);
                       window.location = window.location;
                   }
                });
        };
        $('#confirm').modal();
    }
</script>
</body>
</html>
